<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入jequery -->
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <link rel="stylesheet" href="./bootstrap/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="./bootstrap/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="./bootstrap/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="./bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="./bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="./bootstrap/bootstrap-bootbox/bootbox.js"></script>
    <link rel="stylesheet" href="./bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script type="text/javascript" src="./bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="./bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="./bootstrap/bootstrap-fileinput/css/fileinput.css">
    <script type="text/javascript" src="./bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
    <script type="text/javascript" src="./bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>
</head>
<body>
<div class="nav-cent">
    <div class="logo"><a href="index.html"><img src="images/logo.png" width="240" /></a></div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index">首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="list">买车 <span class="sr-only">(current)</span></a></li>
                    <li><a href="list">卖车</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


<div id="toolbar">
    <form class="form-inline">
        <div class="form-group">
            <label for="shopname">汽车名称</label>
            <input type="text" class="form-control" id="cartype" placeholder="请输入汽车名称">
        </div>
        <button type="button" class="btn btn-primary glyphicon glyphicon-search" onclick="searchUser()">搜索</button>
    </form>
</div>
<table class="table" id="myTable"></table>
</body>
<script>
    $(function(){
        initShopTable();//初始化用户表格数据
    })
    //条件查询
    function searchUser(){
        $('#myTable').bootstrapTable('refresh');
    }
    //初始化用户表格数据
    function  initShopTable(){
        $('#myTable').bootstrapTable({
            toolbar:'#toolbar',
            url:"/search",
            pagination:true, //是否展示分页
            pageList:[2, 4, 10, 50],//分页组件
            pageNumber:1,
            pageSize:4,//默认每页条数
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页
            striped:true,//显示条纹状表格
            queryParams:function(){
                var cartype = $('#cartype').val();
                var startprice = $('#startprice').val();
                var endprice = $('#endprice').val();
                return {
                    page:this.pageNumber,
                    rows:this.pageSize,
                    cartype:cartype,
                    startprice:startprice,
                    endprice:endprice
                }
            },
            columns:[
                {field:"carname",title:"汽车名称"},
                {field:"price",title:"价格",
                    formatter: function(value,row,index){
                        return value/10000+"万";
                    }},
                {field:'img',title:'图片',formatter:function(value,row,index){
                        return "<img src='"+value+"' width='80px' height='60px'>";
                    }},
                {field:"tools",title:"操作",
                    formatter: function (value, row, index) {
                        //js传递字符串的时候一定要加引号!!!!
                        return '<button onclick="xiangqing('+row.carid+')" class="btn btn-danger glyphicon glyphicon-list-alt glyphicon glyphicon-trash" >详情</button>';
                    }
                }
            ]
        })
    }
    function xiangqing(id){
        location.href="toinfor?id="+id;
    }
</script>
</html>