<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>阳光好车</title>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/home.css"/>
    <link rel="stylesheet" type="text/css" href="city/city.css">
    <script type="text/javascript" src="script/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="script/home_ban.js"></script>
    <script type="text/javascript" src="script/eg_top_search.js"></script>
    <script type="text/javascript" src="script/city.js"></script>
    <script type="text/javascript" src="script/snncar.js"></script>
    <script type="text/javascript" src="script/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<div class="navigation">
    <div class="nav-cent">
        <div class="logo"><a href="index"><img src="images/logo.png" width="240" /></a></div>
        <div class="city">
            <div id="JS_hide_city_menu_11" class="city-select cut_handdler Left">
                <div id="JS_header_city_bar_box" class="hide_city_group">
                    <div class="hideMap">
                        <div class="scrollBody">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="sea">
            <div class="egc-sea-box">
                <input type="text" class="sea-ipt-txt" id="cartype" placeholder="搜索您想要的车">
                <a href="javascript:search()"  class="search-btn">搜索</a> </div>
        </div>
        <div class="hot-phone"> <i></i> <span class="js-change-phone">400-877-9288</span> </div>
    </div>
</div>
<ul class="navmenu">
    <li class="active"><a href="index">首页</a><span></span></li>
    <li><a href="list">我要买车</a><span></span></li>
    <li><a href="tomaiche">我要卖车</a><span></span></li>
    <li><a href="to404">阳光联盟</a><span></span></li>
    <li><a href="to404">我要加盟</a><span></span></li>
</ul>
<div class="clear_fix"></div>
<div class="stress-search-box row">
    <div class="stress-close"><a href="javascript:;"></a></div>
    <div class="nav-cents">
        <ul>
            <li class="logo"><a href="index"><img src="images/logo.png"  width="180"/></a></li>
            <li><a href="index">首页</a></li>
            <li><a href="list">我要买车</a></li>
            <li><a href="tomaiche">我要卖车</a></li>
            <li><a href="to404">阳光联盟</a></li>
            <li><a href="to404">我要加盟</a></li>
        </ul>
        <div class="seas">
            <div class="egc-sea-box">
                <input type="text" class="sea-ipt-txt" id="cartype" placeholder="搜索您想要的车">
                <a href="javascript:search()"  class="search-btn">搜索</a> </div>
        </div>
    </div>
</div>
</div>
<!--车类列表-->
    <div class="row service-v1 margin-bottom-40" id="yemain"></div>
<!--新闻资讯-->
<div class="newscon">
    <div class="block-description"> <span class="title">阳光新闻</span> </div>
</div>
<!--底部-->
<div class="ftWrap">
    <div class="foot">
        <div class="cent">
            <div class="relate">
                <div class="items">
                    <div class="tit"><i class="icon-angle-right"></i>交易帮助</div>
                    <div class="con"> <a href="#">买车帮助</a> <a href="#">卖车帮助</a> <a href="#">过户帮助</a> </div>
                </div>
                <div class="items">
                    <div class="tit"><i class="icon-angle-right"></i>客服中心</div>
                    <div class="con"> <a href="abut.html">网站合作</a> <a href="about.html">关于我们</a> <a href="contact.html">联系我们</a> </div>
                </div>
                <div class="items">
                    <div class="tit"><i class="icon-angle-right"></i>购车指南</div>
                    <div class="con"> <a href="#">购车帮助</a></div>
                </div>
                <div class="app-section"> <img class="js-delayed-img"  src="images/f_wx.jpg">
                    <div class="title">扫码关注微信</div>
                    <p> 随时随地，秒杀好车<br />
                        优质个人二手车 </p>
                </div>
                <div class="items last">
                    <div class="tel">
                        <h1>400-877-9288</h1>
                        <p>周一至周日 8:00-18:00</p>
                        <p>免费咨询(咨询、建议、投诉)</p>
                        <a href="#" class="kf"><i class="kf-icon"></i>在线客服</a> </div>
                    <div class="tel-mb">
                        <p><span>400-710-8886</span>周一至周日 8:00-18:00(仅收市话费)</p>
                        <a href="#" class="kf"><i class="kf-icon"></i>在线客服</a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="cent"> Copyright © 2016-2017, snncar.com,All Rights Reserved 皖ICP备16022456号-1</div>
    </div>
</div>

<!--leftsead end-->
<style>
    .list-infoBox {
        float: left;
        width: 25%;
    }
</style>
</body>
<script type="text/javascript">
    $(function(){
        queryList();
    })
    function queryList(){
        $.ajax({
            url:'/search',
            success:function(data){
                var op="";
                for(var i=0;i<data.length;i++){
                    op+="<div class='list-infoBox'>" +
                        '<a href="javascript:xq('+data[i].carid+')"><img width="290" height="194" src="'+data[i].img+'"></a>'+
                        '<p><a href="">'+data[i].carname+'</a></p>'+
                        '<p><font size="3">现价'+(data[i].price/10000)+'万</font></p>'+
                        "</div>";
                }
                $("#yemain").append(op);
            }
        })
    }
    function xq(id){
        location.href="toinfor?id="+id;
    }
    function search(){
        var cartype=$("#cartype").val();
        location.href="searchcar?cartype="+cartype;
    }
</script>
</html>